.container {
  text-align: center;
  display: flex;
  height: 100%;
}

.contentRead{
  width: 50%;
}

.contentWrite{
  width: 50%  ;
}

.backdrop{
  z-index: 1000 !important;
}

.actionButton{
  margin: 1vh 0 1vh 0;
}
