.header {
    height: 7vh;
    min-height: 55px;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column
}

.appcontainer {
    display: flex;
}

.appcontainer-sidebar{
    width: 15vw;
}

.appcontainer-app {
    flex-grow: 1;
}

.divider{

}